@model List<ResultNotificationDtos>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int sayac = 0;
}

<div class="container-fluid">
    <h4 class="page-title">Bildirim İşlemleri</h4>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Bildirim Listesi</div>
                </div>
                <div class="card-body">
                    <div class="card-sub">
                        Bildirim ile ilgili işlemleri aşağıdan gerçekleştirebilirsiniz.
                    </div>
                    <table class="table mt-3">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Açıklama</th>
                                <th scope="col">Tarih</th>
                                <th scope="col">Durum</th>
                                <th scope="col">Sil</th>
                                <th scope="col">Güncelle</th>
                                <th scope="col">Okundu Olarak İşaretle</th>
                                <th scope="col">Okunmadı Olarak İşaretle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                sayac++;
                                <tr>
                                    <td>@sayac</td>
                                    <td>@item.Description</td>
                                    <td>@(((DateTime)item.Date).ToString("dd-MMM-yyyy"))</td>
                                    <td>@item.Status</td>
                                    <td><a href="/Notification/DeleteNotification/@item.NotificationID" class="btn btn-outline-danger">Sil</a></td>
                                    <td><a href="/Notification/UpdateNotification/@item.NotificationID" class="btn btn-outline-success">Güncelle</a></td>
                                    <td><a href="/Notification/NotificationStatusChangeToTrue/@item.NotificationID" class="btn btn-outline-warning">Okundu</a></td>
                                    <td><a href="/Notification/NotificationStatusChangeToFalse/@item.NotificationID" class="btn btn-outline-secondary">Okunmadı</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <a href="/Notification/CreateNotification" class="btn btn-outline-primary">Yeni Bildirim Ekle</a>
                </div>
            </div>
        </div>
    </div>
</div>

