@model LoginDtos
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Giriş Yap </title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Font-->
    <link rel="stylesheet" type="text/css" href="/register-login/css/nunito-font.css">
    <!-- Main Style Css -->
    <link rel="stylesheet" href="/register-login/css/style.css" />
</head>
<body class="form-v6">
    <div class="page-content">
        <div class="form-v6-content">
            <div class="form-left">
                <img src="/register-login/images/form-v6.jpg" alt="form">
            </div>
            <form class="form-detail" method="post">
                <h2> Giriş Yap</h2>
                <div class="form-row">
                    <input type="text" id="full-name" asp-for="Username" class="input-text" placeholder="Kullanıcı Adı" required>
                </div>
                <div class="form-row">
                    <input type="password" id="password" asp-for="Password" class="input-text" placeholder="Şifreniz" required>
                </div>
                <div class="form-row-last">
                    <input type="submit" name="register" class="register" value=" Giriş Yap">
                </div>
            </form>
        </div>
    </div>
</body>
</html>
