@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<div class="container-fluid">

    <script type="text/javascript">
        $(document).ready(function () { // Düzeltme: $(document).ready() fonksiyonu düzgün syntax ile kullanılmalı
            var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:7123/SignalRHub").build();

            connection.start().then(() => {
                $("#connstatus").text(connection.state);
                setInterval(() => { //setInterval time görevi görüyor yani database ekleme yapıldığında tetikleme yapmadan direk ekrana yansıtma
                    connection.invoke("SendProgress"); //Tanımlanan SendProgress istek başlık buraya geçti
                }, 1000);
            }).catch((err) => { console.log(err) });


            connection.on("TotalCaseMoneyAmount", (value) => { //connection.on ile bağlan -> ProgressBarsController -> Tanımlanan method 
                $("#totalcasemoney").text(value) //Tanımlanan method -> Çağır.
            });
            
            connection.on("ActiveOrderCount", (value1) => { //connection.on ile bağlan -> ProgressBarsController -> Tanımlanan method
                 $("#activeordercount").empty();
                $("#activeordercount").append(`
                 <div class="d-flex justify-content-between mb-1">
                 <span class="text-muted">Toplam Aktif Siparişler</span>
                 <span class="text-muted fw-bold"> ${value1}</span>
                 </div>
                 <div class="progress mb-2" style="height: 7px;">
                 <div class="progress-bar bg-success" role="progressbar" style="width: ${value1}%" aria-valuenow="55" aria-valuemin="0"
                 aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="${value1}"></div>
                 </div>
                `);
            });
            
            connection.on("MenuTableCount", (value2) => { //connection.on ile bağlan -> ProgressBarsController -> Tanımlanan method
                $("#menutablecount").empty();
                $("#menutablecount").append(`
                 <div class="d-flex justify-content-between mb-1">
                 <span class="text-muted">Toplam Masa Sayısı</span>
                 <span class="text-muted fw-bold"> ${value2}</span>
                 </div>
                 <div class="progress mb-2" style="height: 7px;">
                 <div class="progress-bar bg-dark" role="progressbar" style="width: ${value2}%" aria-valuenow="55" aria-valuemin="0"
                 aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="${value2}"></div>
                 </div>
                `);
            });
            
            connection.on("ReceiveProductPriceAvg", (value3) => { //connection.on ile bağlan -> ProgressBarsController -> Tanımlanan method
                $("#receiveproductpriceAvg").empty();
                $("#receiveproductpriceAvg").append(`
                 <div class="d-flex justify-content-between mb-1">
                 <span class="text-muted">Ürünlerin Toplamı</span>
                 <span class="text-muted fw-bold"> ${value3}</span>
                 </div>
                 <div class="progress mb-2" style="height: 7px;">
                 <div class="progress-bar bg-info" role="progressbar" style="width: ${value3}%" aria-valuenow="55" aria-valuemin="0"
                 aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="${value3}"></div>
                 </div>
                `);
            });
            
            connection.on("ReceiveAvgPriceHamburger", (value4) => { //connection.on ile bağlan -> ProgressBarsController -> Tanımlanan method
                $("#receiveavgpriceHamburger").empty();
                $("#receiveavgpriceHamburger").append(`
                 <div class="d-flex justify-content-between mb-1">
                 <span class="text-muted">Toplam Hamburger</span>
                 <span class="text-muted fw-bold"> ${value4}</span>
                 </div>
                 <div class="progress mb-2" style="height: 7px;">
                 <div class="progress-bar bg-warning" role="progressbar" style="width: ${value4}%" aria-valuenow="55" aria-valuemin="0"
                 aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="${value4}"></div>
                 </div>
                `);
            });
            
            connection.on("ReceiveCountByCategoryNameDrink", (value5) => { //connection.on ile bağlan -> ProgressBarsController -> Tanımlanan method
                $("#receivecountbycategoryNameDrink").empty();
                $("#receivecountbycategoryNameDrink").append(`
                 <div class="d-flex justify-content-between mb-1">
                 <span class="text-muted">Toplam Hamburger</span>
                 <span class="text-muted fw-bold"> ${value5}</span>
                 </div>
                 <div class="progress mb-2" style="height: 7px;">
                 <div class="progress-bar bg-primary" role="progressbar" style="width: ${value5}%" aria-valuenow="55" aria-valuemin="0"
                 aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="${value5}"></div>
                 </div>
                `);
            });

            connection.on("ReceiveTotalOrderCount", (value6) => { //connection.on ile bağlan -> ProgressBarsController -> Tanımlanan method
                $("#receivetotalorderCount").empty();
                $("#receivetotalorderCount").append(`
                 <div class="d-flex justify-content-between mb-1">
                 <span class="text-muted">Toplam Aktif Siparişler</span>
                 <span class="text-muted fw-bold"> ${value6}</span>
                 </div>
                 <div class="progress mb-2" style="height: 7px;">
                 <div class="progress-bar bg-success" role="progressbar" style="width: ${value6}%" aria-valuenow="55" aria-valuemin="0"
                 aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="${value6}"></div>
                 </div>
                `);
            });
       
            connection.on("ReceiveProductAvgPriceBySteakBurger", (value7) => { //connection.on ile bağlan -> ProgressBarsController -> Tanımlanan method
                $("#receiveproductavgpricebySteakBurger").empty();
                $("#receiveproductavgpricebySteakBurger").append(`
                 <div class="d-flex justify-content-between mb-1">
                 <span class="text-muted">Toplam Steak Burger Fiyat Sayısı</span>
                 <span class="text-muted fw-bold"> ${value7}</span>
                 </div>
                 <div class="progress mb-2" style="height: 7px;">
                 <div class="progress-bar bg-dark" role="progressbar" style="width: ${value7}%" aria-valuenow="55" aria-valuemin="0"
                 aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="${value7}"></div>
                 </div>
                `);
            });
           
            connection.on("ReceivePassiveCategoryCount", (value8) => { //connection.on ile bağlan -> ProgressBarsController -> Tanımlanan method
                $("#receivepassivecategoryCount").empty();
                $("#receivepassivecategoryCount").append(`
                         <div class="d-flex justify-content-between mb-1">
                         <span class="text-muted">Pasif Kategori Toplamı</span>
                         <span class="text-muted fw-bold"> ${value8}</span>
                         </div>
                         <div class="progress mb-2" style="height: 7px;">
                         <div class="progress-bar bg-info" role="progressbar" style="width: ${value8}%" aria-valuenow="55" aria-valuemin="0"
                         aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="${value8}"></div>
                         </div>
                        `);
            });

            connection.on("ReceiveActiveCategoryCount", (value9) => { //connection.on ile bağlan -> ProgressBarsController -> Tanımlanan method
                $("#receiveactivecategoryCount").empty();
                $("#receiveactivecategoryCount").append(`
                         <div class="d-flex justify-content-between mb-1">
                         <span class="text-muted">Toplam Aktif Kategori</span>
                         <span class="text-muted fw-bold"> ${value9}</span>
                         </div>
                         <div class="progress mb-2" style="height: 7px;">
                         <div class="progress-bar bg-warning" role="progressbar" style="width: ${value9}%" aria-valuenow="55" aria-valuemin="0"
                         aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="${value9}"></div>
                         </div>
                        `);
            });

            connection.on("ReceiveTotalOrderCount", (value10) => { //connection.on ile bağlan -> ProgressBarsController -> Tanımlanan method
                $("#receivetotalordercount").text(value10)
            });
        
            connection.on("ReceiveActiveMenuTableCount", (value11) => { //connection.on ile bağlan -> ProgressBarsController -> Tanımlanan method
                $("#receiveactivemenutablecount").text(value11)
            });
        });
    </script>
    <h4 class="page-title">Admin Dashboard İstatistik</h4>
    <div class="row">
        <div class="col-md-12">


            <div class="row row-card-no-pd">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <p class="fw-bold mt-1">Kasa Bakiyesi</p>
                            <h4 id="totalcasemoney"><b></b></h4>
                            <a href="/Create/Order" class="btn btn-primary btn-full text-left mt-3 mb-3"><i class="la la-plus"></i> Sipariş Ekle</a>
                        </div>
                        <div class="card-footer">
                            <ul class="nav">
                                <li class="nav-item"><a class="btn btn-default btn-link" href="/Default/Index"><i class="la la-history"></i> Anasayfa</a></li>
                                <li class="nav-item ml-auto"><a class="btn btn-default btn-link" href="/ProgressBars/Index"><i class="la la-refresh"></i> Sayfayı Yenile</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-body">
                            <div class="progress-card" id="menutablecount">
                                
                            </div> 

                            <div class="progress-card" id="receiveproductpriceAvg">
                                
                            </div>

                            <div class="progress-card" id="activeordercount">

                            </div>

                            <div class="progress-card" id="receiveavgpriceHamburger">

                            </div>

                            <div class="progress-card" id="receivecountbycategoryNameDrink">

                            </div>

                            <div class="progress-card" id="receivetotalorderCount">

                            </div>

                            <div class="progress-card" id="receiveproductavgpricebySteakBurger">

                            </div>

                            <div class="progress-card" id="receivepassivecategoryCount">

                            </div>

                            <div class="progress-card" id="receiveactivecategoryCount">

                            </div>


                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-stats">
                        <div class="card-body">
                            <p class="fw-bold mt-1">İstatistik</p>
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center icon-warning">
                                        <i class="la la-pie-chart text-warning"></i>
                                    </div>
                                </div>
                                <div class="col-7 d-flex align-items-center">
                                    <div class="numbers">
                                        <p class="card-category">Aktif Toplam Sipariş</p>
                                        <h4 class="card-title" id="receivetotalordercount"></h4>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center">
                                        <i class="la la-heart-o text-primary"></i>
                                    </div>
                                </div>
                                <div class="col-7 d-flex align-items-center">
                                    <div class="numbers">
                                        <p class="card-category">Aktif Masa Sayısı</p>
                                        <h4 class="card-title" id="receiveactivemenutablecount"></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
