@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<div class="container-fluid">

    <script type="text/javascript">
        $(document).ready(function () { // Düzeltme: $(document).ready() fonksiyonu düzgün syntax ile kullanılmalı
            var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:7123/SignalRHub").build();

            connection.start().then(() => {
                $("#connstatus").text(connection.state);
                setInterval(() => { //setInterval time görevi görüyor yani database ekleme yapıldığında tetikleme yapmadan direk ekrana yansıtma
                    connection.invoke("SendProgress"); //Tanımlanan SendProgress istek başlık buraya geçti
                }, 1000);
            }).catch((err) => { console.log(err) });


            connection.on("TotalCaseMoneyAmount", (value) => { //connection.on ile bağlan -> ProgressBarsController -> Tanımlanan method 
                $("#totalcasemoney").text(value) //Tanımlanan method -> Çağır.
            });
            connection.on("ActiveOrderCount", (value1) => { //connection.on ile bağlan -> ProgressBarsController -> Tanımlanan method
                $("#activeordercount").text(value1) //Tanımlanan method -> Çağır.
            });
            connection.on("MenuTableCount", (value2) => { //connection.on ile bağlan -> ProgressBarsController -> Tanımlanan method
                $("#menutablecount").text(value2) //Tanımlanan method -> Çağır.
            });
        });
    </script>
    <h4 class="page-title">Admin Dashboard İstatistik</h4>
    <div class="row">
        <div class="col-md-12">


            <div class="row row-card-no-pd">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <p class="fw-bold mt-1">Kasa Bakiyesi</p>
                            <h4 id="totalcasemoney"><b></b></h4>
                            <a href="/Create/Order" class="btn btn-primary btn-full text-left mt-3 mb-3"><i class="la la-plus"></i> Sipariş Ekle</a>
                        </div>
                        <div class="card-footer">
                            <ul class="nav">
                                <li class="nav-item"><a class="btn btn-default btn-link" href="/Default/Index"><i class="la la-history"></i> Anasayfa</a></li>
                                <li class="nav-item ml-auto"><a class="btn btn-default btn-link" href="/ProgressBars/Index"><i class="la la-refresh"></i> Sayfayı Yenile</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-body">
                            <div class="progress-card">
                                <div class="d-flex justify-content-between mb-1">
                                    <span class="text-muted">Profit</span>
                                    <span class="text-muted fw-bold"> $3K</span>
                                </div>
                                <div class="progress mb-2" style="height: 7px;">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="55%"></div>
                                </div>
                            </div>
                            <div class="progress-card">
                                <div class="d-flex justify-content-between mb-1">
                                    <span class="text-muted">Orders</span>
                                    <span class="text-muted fw-bold"> 576</span>
                                </div>
                                <div class="progress mb-2" style="height: 7px;">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 65%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="65%"></div>
                                </div>
                            </div>
                            <div class="progress-card">
                                <div class="d-flex justify-content-between mb-1">
                                    <span class="text-muted">Tasks Complete</span>
                                    <span class="text-muted fw-bold"> 70%</span>
                                </div>
                                <div class="progress mb-2" style="height: 7px;">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="70%"></div>
                                </div>
                            </div>
                            <div class="progress-card">
                                <div class="d-flex justify-content-between mb-1">
                                    <span class="text-muted">Open Rate</span>
                                    <span class="text-muted fw-bold"> 60%</span>
                                </div>
                                <div class="progress mb-2" style="height: 7px;">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="60%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-stats">
                        <div class="card-body">
                            <p class="fw-bold mt-1">İstatistik</p>
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center icon-warning">
                                        <i class="la la-pie-chart text-warning"></i>
                                    </div>
                                </div>
                                <div class="col-7 d-flex align-items-center">
                                    <div class="numbers">
                                        <p class="card-category">Aktif Toplam Sipariş</p>
                                        <h4 class="card-title" id="activeordercount"></h4>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center">
                                        <i class="la la-heart-o text-primary"></i>
                                    </div>
                                </div>
                                <div class="col-7 d-flex align-items-center">
                                    <div class="numbers">
                                        <p class="card-category">Aktif Masa Sayısı</p>
                                        <h4 class="card-title" id="menutablecount"></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
