@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>QR Kod Oluşturma Sayfası</h1>



<div class="container-fluid">
    <h4 class="page-title">QR Kod İşlemleri</h4>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">QR Kod</div>
                </div>
                <div class="card-body">
                    <div class="card-sub">
                        QR Kod ile ilgili işlemleri aşağıdan gerçekleştirebilirsiniz.
                    </div>
                    <form method="post" asp-action="Index" asp-controller="QRCode">
                        <input type="text" name="value" />
                        <input type="submit" value="QR Kod Oluştur" class="btn btn-warning" />
                        @if (ViewBag.QrCodeImage != null)
                        {
                            <img src="@ViewBag.QrCodeImage" alt="" style="width: 400px; height: 400px;" />
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>