@model SignalRWebUI.Dtos.ProductDto.UpdateProductDtos
@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container-fluid">
    <h4 class="page-title">Ürün</h4>
    <div class="row">
        <div class="col-md-12">
            <form method="post">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Güncelleme Sayfası</div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <input type="hidden" asp-for="ProductID" class="form-control" />
                            <label for="productname">Ürün Adı</label>
                            <input type="text" class="form-control" asp-for="ProductName" id="productname" placeholder="Ürün Adı">
                            <small id="text" class="form-text text-muted">Ürün Giriniz.</small>
                        </div>
                     
                        <div class="form-group">
                            <label for="description">Ürün Açıklama</label>
                            <input type="text" class="form-control" asp-for="Description" id="description" placeholder="Ürün Açıklama">
                            <small id="text" class="form-text text-muted">Ürün Açıklama Yapınız.</small>
                        </div>
                        <div class="form-group">
                            <label for="categoryname">Ürün Kategori Seçiniz</label>
                            @* html kullanarak dropdownlist çağırdık x öyleki xin içindeki ıd listleyerek seç viewbagdeki kategori adını buraya listele *@
                            @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.Categoryname, new { @class = "form-control" })
                            <small id="text" class="form-text text-muted">Lütfen Kategori Giriniz.</small>
                        </div>
                        <div class="form-group">
                            <label for="price">Fiyat</label>
                            <input type="text" class="form-control" asp-for="Price" id="price" placeholder="Ürün Fiyat">
                            <small id="text" class="form-text text-muted">Ürün Fiyat Giriniz.</small>
                        </div>
                        <div class="form-group">
                            <label for="resim">Resim</label>
                            <input type="text" class="form-control" asp-for="ImageUrl" id="resim" placeholder="Ürün Resim">
                            <small id="text" class="form-text text-muted">Ürün Resim Url Giriniz.</small>
                        </div>
                    </div>
                    <div class="card-action">
                        <button class="btn btn-success">Ürün Güncelle</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

