@model SignalRWebUI.Dtos.CategoryDto.UpdateCategoryDtos
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container-fluid">
    <h4 class="page-title">Kategori</h4>
    <div class="row">
        <div class="col-md-12">
            <form method="post">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Güncelleme Sayfası</div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <input type="hidden" asp-for="CategoryID" class="form-control" />
                            <input type="hidden" asp-for="Status" class="form-control" />
                            <label for="categoryname">Kategori Adı</label>
                            <input type="text" class="form-control" asp-for="CategoryName" id="categoryname" placeholder="Kategori Adı">
                            <small id="text" class="form-text text-muted">Kategori Giriniz.</small>
                        </div>
                    </div>
                    <div class="card-action">
                        <button class="btn btn-success">Kategori Güncelle</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

